{% extends 'base.html' %}

{% block title %}Ajout de fichiers -{% endblock %}

{% block content %}
    <style>
        .table {
            margin-bottom: 1.5rem;
        }
        .btn-outline-gray {
            background-color: var(--white);
            color: var(--dark);
            border-color: #d9d9d9;
        }
        form {
            margin-bottom: 2rem;
        }
    </style>

    <h1>
        Ajout de fichiers
    </h1>

    {{ tableau }}

    <form id="{{ selection.id }}" action="/ajout/" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ selection }}
        {% if tableau %}
        <button class="btn btn-light btn-outline-gray" onclick="window.location.href='/ajout'">Annuler</button>
        <button class="btn btn-outline-success" type="button">Valider</button>
        {% endif %}
    </form>
{% endblock %}