{% extends 'base.html' %}

{% block title %}Ajout de fichiers -{% endblock %}

{% block content %}
    <h1>
        Ajout de fichiers
    </h1>

    <h2>
        Envoyer des jugements à analyser
    </h2>
    <form class="mb-4" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ selection }}
    </form>

    <h2>
        Jugements en attente de validation
    </h2>
    {% if tableau %}
    <table class="table" id="tableau">
        <script>
            var s = -1;
            function display_table(sort_field) {
                var table = {{ tableau }};
                var html = "<thead><tr>";
                for (const [field, name] of Object.entries(table[0])) {
                    html += `<th><a class="d-flex" href="javascript:display_table('${field}');">`;
                    html += `<span class='text-truncate' style='max-width: 20vw;'>${name}&nbsp;</span>&nbsp;`
                    html += `<i class="dropdown-toggle${s>0?'':' icons-flip-vertical'}${field==sort_field?'':' invisible'}">`;
                    html += "</i></a></th>";
                } html += "</tr></thead>";
                table.shift();
                table.sort((r1, r2) => r1[sort_field].toLowerCase() > r2[sort_field].toLowerCase() ? s : -s);
                s = -s;
                html += "<tbody>";
                for(const row of table) {
                    html += "<tr>";
                    for (const value of Object.values(row)) {
                        html += `<td class='text-truncate' style='max-width: 20vw;'>${value}</td>`;
                    } html += "</tr>";
                } html += "</tbody>";
                document.getElementById("tableau").innerHTML = html;
            }
        display_table('date');
        </script>
    </table>
    {% else %}
        Aucun jugement en attente de validation
    {% endif %}
{% endblock %}