{% extends "base.html" %}
{% load static %}

{% block title %}Éditer mon profil -{% endblock %}

{% block content %}
<h1>Éditer mon profil</h1>
<h2>Informations générales</h2>
<form method='POST' enctype="multipart/form-data" action='{% url "account:edit-profile" user.username %}'>
    {% csrf_token %}
    <table><tbody>{{ form.as_table }}</tbody></table>
    <br>
    <button type="submit" class="btn btn-primary">Valider</button>
</form>
<br />
<a href="{% url 'password_change' %}">Changer mon mot de passe</a>
<br />
{% endblock %}