{% extends "base.html" %}
{% load static %}

{% block title %}Modifier le profil -{% endblock %}

{% block head %}
    <script type='text/javascript' src="{% static 'js/account_functions.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Modifier le profil</h1>

{% if user_form.is_valid and agent_form.is_valid %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
    </svg>
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            Vos informations ont bien été mis à jour.
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding: 1rem 1rem;"></button>
    </div>
{% endif %}


{% if user_form.errors or agent_form.errors %}
 <div class="form-error mb-3 text-white">
    <h2 class="text-white text-uppercase">Oouups ! Vous avez une erreur</h2>
    {% for error in user_form.non_field_errors %}
        {{error}}
    {% endfor %}
    {% for error in agent_form.non_field_errors %}
        {{error}}
    {% endfor %}
  </div>
{% endif %}


<form method='POST' enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row">
        {% include 'forms/form.html' with form=user_form %}
        {% include 'forms/form.html' with form=agent_form %}
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label>Mot de passe</label> :<br>
                <div class="">
                    <p><a href="{% url 'password_change' %}" class="btn bg-pink text-white">Changer le mot de passe <i class="icons-external-link ml-2" aria-hidden="true"></i></a></p>
                    <span class="form-control-state"></span>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
</form>


<br />
<!--p><a href="{% url 'password_change' %}">Changer le mot de passe</a></p-->
<p><a href="{% url 'home:home' %}">Revenir à l'accueil</a></p>

{% endblock %}