{% extends "base.html" %}
{% load static %}

{% block title %}Modifier le profil -{% endblock %}

{% block content %}
<h1>Modifier le profil</h1>
<h2>Informations générales</h2>


<form method='POST' enctype="multipart/form-data" action='{% url "account:edit-profile" user.username %}'>
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ user_form.first_name.label_tag }}
                <div class="form-control-container ">
                    {{ user_form.first_name }}
                    <span class="form-control-state"></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ user_form.last_name.label_tag }}
                <div class="form-control-container ">
                    {{ user_form.last_name }}
                    <span class="form-control-state"></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ user_form.username.label_tag }}
                <div class="form-control-container ">
                    {{ user_form.username }}
                    <span class="form-control-state"></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ user_form.email.label_tag }}
                <div class="form-control-container ">
                    {{ user_form.email }}
                    <span class="form-control-state"></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                {{ agent_form.telephone.label_tag }}
                <div class="form-control-container ">
                    {{ agent_form.telephone }}
                    <span class="form-control-state"></span>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
</form>

<br />
<p><a href="{% url 'password_change' %}">Changer le mot de passe</a></p>
<br />
<br />
<br />
{% endblock %}