{% extends 'base_app.html' %}

{% block content %}
    <h1>Ajout de fichiers</h1>

    <h2>Étape 1 : Sélection des fichiers</h2>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ ajout.as_p }}
        <button class="btn btn-primary" type="submit">Importer</button>
    </form>

    <br><br>
    <h2>Étape 2 : Validation des fichiers</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Lisible</th>
                <th>Date</th>
                <th>Juridiction</th>
                <th>Somme gagnée</th>
                <th>Conserver</th>
            </tr>
        </thead>
        <tbdoy>
            {% for ligne in tableau %}
            <tr>
                <td>{{ ligne.filename }}</td>
                <td>{{ ligne.lisible }}</td>
                <td>{{ ligne.date_jugement }}</td>
                <td>{{ ligne.juridiction }}</td>
                <td>{{ ligne.gain }}</td>
                <td>{{ ligne.conserver }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Valider</button>
{% endblock %}