{% extends 'base.html' %}
{% load static %}
{% block title %}Prédiction -{% endblock %}

{% block content %}
    <h1>Prédiction</h1>
    <h2>Paramètres de la prédiction</h2>
    <form method="POST">{% csrf_token %}
        {{ form }}
        <br><br>
        <button type="submit" class="btn btn-primary"><span>Prédire</span> <img src= "{% static 'images/logo white.svg' %}" class='icon' alt ='Icon oeil'></button>
    </form>
    <br>
    {% if form.is_valid %}
        <h2>Résultat de la prédiction</h2>
        <p>Probabilité : {{ proba }}</p>
    {% endif %}
    
{% endblock %}
