<div class="fieldWrapper form-group">
    <label class="{% if field.field.required %}required{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label> :<br>
    <div class="form-control-container {% if field.errors %}is-invalid{% endif %} {% if icon %}has-left-icon{%endif%}">
        {{ field }}
        <span class="form-control-state"></span>
        {% if icon %}
            <span class="form-control-icon">
                <i class="{{ icon }}"></i>
            </span>
        {% endif %}
    </div>
    {% if field.help_text %}
        <small id="passwordHelpBlock" class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    {% if field.errors %}
        <div class="invalid-feedback"><ul>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul></div>
    {% endif %}
</div>