{% load static %}

<h2>Paramètres de la recherche</h2>


{% if form.errors %}
 <div class="form-error mb-3 text-white">
    <h2 class="text-white text-uppercase mb-0">Oouups ! Vous avez une erreur</h2>
    {% for error in form.non_field_errors %}
        {{error}}
    {% endfor %}
  </div>
{% endif %}

<form method="GET" onkeydown="return event.key != 'Enter';" action="{% url 'search:index' %}#results" autocomplete='off' class="needs-validation" novalidate>
    
    <div class="row">

        <!-- champ mots-clés -->
        <div class="col-12">
            <div class="fieldWrapper form-group">
                <label class="font-weight-medium mb-2" for="addreceivers1">Mots-clés :</label> {% for mot in motsCles%}{{ mot }}, {% endfor %}
                <div class="form-control-container form-chips-container {% if form.motcle.errors %}is-invalid{% endif %}" data-component="chips">
                    {{ form.motcle }}
                    <span class="form-control-state"></span>
                </div>
                <small id="passwordHelpBlock" class="form-text text-muted">{{ form.motcle.help_text }}</small>
                {% if form.motcle.errors %}
                    <div class="invalid-feedback"><ul>
                    {% for error in form.motcle.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul></div>
                {% endif %}
            </div>
        </div>

        <!-- champ date min -->
        <div class="col-12 col-md-6">
            <div class="fieldWrapper form-group">
                <label for="{{ form.datemMin.auto_id }}">Date Minimale</label> :<br>
                <div class="form-row {% if form.datemMin.errors or form.dateyMin.errors %}is-invalid{%endif%}">
                    <div class="col-6">
                        <div class="form-control-container {% if form.datemMin.errors %}is-invalid{% endif %}">
                            {{ form.datemMin }}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-control-container {% if form.dateyMin.errors %}is-invalid{% endif %}">
                            {{ form.dateyMin }}
                            <span class="form-control-state"></span>
                        </div>
                    </div>
                </div>
                {% if form.datemMin.errors or form.dateyMin.errors %}
                    <div class="invalid-feedback"><ul>
                    {% for error in form.datemMin.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {% for error in form.dateyMin.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul></div>
                {% endif %}
            </div>
        </div>

        <!-- champ date max -->
        <div class="col-12 col-md-6">
            <div class="fieldWrapper form-group">
                <label for="{{ form.datemMax.auto_id }}">Date Maximale</label> :<br>
                <div class="form-row {% if form.datemMax.errors or form.dateyMax.errors %}is-invalid{%endif%}">
                    <div class="col-6">
                        <div class="form-control-container {% if form.datemMax.errors %}is-invalid{% endif %}">
                            {{ form.datemMax }}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-control-container {% if form.dateyMax.errors %}is-invalid{% endif %}">
                            {{ form.dateyMax }}
                            <span class="form-control-state"></span>
                        </div>
                    </div>
                </div>
                {% if form.datemMax.errors or form.dateyMax.errors %}
                    <div class="invalid-feedback"><ul>
                    {% for error in form.datemMax.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {% for error in form.dateyMax.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul></div>
                {% endif %}
            </div>
        </div>

        <!-- champ type de juridiction -->
        <div class="col-12 col-sm-6">
            <div class="fieldWrapper form-group"> 
                {{ form.type_juridiction.label_tag }}
                {{ form.type_juridiction }}
            </div>
        </div>

        <!-- champ ville -->
        <div class="col-12 col-sm-6">
            {% include 'forms/field.html' with field=form.juridiction icon="icons-search" clear=True %}
        </div>

        <!-- champ illisibles -->
        <div class="col-12">
            <div class="custom-control custom-checkbox ">
                {{ form.illisibles }}
                <label class="custom-control-label" for="id_illisibles">{{ form.illisibles.label }} </label> &nbsp&nbsp&nbsp&nbsp
                <small id="passwordHelpInline" class="text-muted">
                    <i class="icons-warning icons-size-x75" aria-hidden="true"></i> Attention : peut fausser les résultats.
                </small>
            </div>
        </div>

    </div>
    <br>
    <button type="submit" class="btn btn-primary" onclick="#results"><span>Rechercher</span> <i class="icons-search" aria-hidden="true"></i></button>
</form>
<!--script type='text/javascript' src="{% static 'js/chips.js' %}"></script-->
