{% extends 'base.html' %}

{% block title %}Fichiers Illisibles -{% endblock %}

{% block content %}
    <h1>Fichiers illisibles</h1>
    <p>Liste des fichiers de décisions de justice considérés comme illisibles, à remplacer.</p>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Fichier</th>
                <th>Date d'import</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
            {% for jugement in bad_files %}
            <tr>
                <td><a href="/media/{{ jugement.file }}" target="_blank">{{ jugement }}</a></td>
                <td>{{ jugement.date_import }} </td>
                <td><a href="{% url 'add_file:index' %}">Remplacer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
